* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 30px;
  background-color: grey;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  background-color: rgba(20, 184, 254, 0.777);
  color: rgb(200, 250, 250);
  font-size: 3em;
  margin: 0;
}
.out {
  border: 2px whitesmoke;
  margin: 0;
  top: 50px;
  height: 15vh;
  text-align: right;
  background-color: black;
  color: white;
  text-decoration: solid;
  font-size: 2.5em;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
marquee {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  color: rgb(255, 0, 0);
  height: 7vh;
  background-color: #012345;
}
div {
  width: 100%;
  gap: 0;
  margin-bottom: 5px;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 80%);
  gap: 5px;
  height: 18vh;
}
button {
  background-color: black;
  color: white;
  cursor: grab;
  border: none;
  border-radius: 30%;
  font-size: 1.2em;
}
.extend {
  grid-column: 4;
  grid-row: 3 / span 2;
}
